RewriteEngine on
RewriteBase /intern_PHP/

RewriteCond %{REQUEST_FILENAME} !-l
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^([a-zA-Z0-9]+)$ index.php?controller=$1

RewriteRule ^(['admin']+)/([0-9]+)$ index.php?controller=$1&page=$2

RewriteRule ^(['detail']+)/([0-9]+)$ index.php?controller=$1&id=$2

RewriteRule ^([a-zA-Z0-9]+)/([a-z]+)$ index.php?controller=$1&action=$2

RewriteRule ^([a-zA-Z0-9]+)/([a-z]+)/([0-9]+)$ index.php?controller=$1&action=$2&id=$3